@model FoodOrderingAdminDashboard.Models.RestaurantViewModel

@{
    ViewData["Title"] = "AddTiming";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}
<div class="MuiContainer-root MuiContainer-maxWidthLg jss16 css-1qsxih2">
    <div class="jss24 MuiBox-root css-0">
        <div class="MuiGrid-root MuiGrid-container jss25 css-1d3bbye">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-2 MuiGrid-grid-lg-2 css-132oeye">Days</div>
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-md-7 MuiGrid-grid-lg-7 css-1odkrke">Open Times</div>
        </div>
        <form id="addTimingForm">
            <div class="input-div">
                <label style="font-size: 20px;" for="days">Choose a day:</label>
                <select class="selectdays" name="Day" id="days">
                    <option value="">Select day</option>
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
                <label style="font-size: 20px;" for="appt">Open time:</label>
                <input class="inputtimimg" type="time" id="appt" name="OpenTiming">
                <label style="font-size: 20px;" for="appt">Close time:</label>
                <input class="inputtimimg" type="time" id="appt" name="CloseTiming">                
            </div>
            <div class ="input-div">
                <label style="font-size: 20px;" for="status">Choose a status:</label>
                <select class="selectstatus" name="Status" id="status">
                    <option value="">Select status</option>
                    <option value="Open">Open</option>
                    <option value="Close">Close</option>
                </select>
            </div>
            <div class="button-div">
                <button id="saveTimingForm" data-id="@Model.RestaurantId" class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium jss21 jss30 css-grj8dm" tabindex="0" type="button">Save
                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="sc-fmSAUk exMnZGFood rdt_TableHeader" role="heading" aria-level="1">
        <div class="sc-fGFwAa khejKv">
            <h4 style="font-weight: bold; margin-top: 15px;">Timings</h4>
        </div>
        <div class="sc-blLsxD koXrXC"></div>
        <div class="sc-hAtEyd eoNOiB">
            <div class="sc-brKeYL jxdWww"></div>
            <div class="sc-ktEKTO bAPOXo"></div>
        </div>
    </div>
    <header class="sc-ieZDjg iWJPSXFood">
        <div class="jssfood62 MuiBox-root css-0">
            <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk" tabindex="0" type="button">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1t20kk0" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="RefreshIcon">
                    <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"></path>
                </svg>
                <span class="MuiTouchRipple-root css-w0pj6f"></span>
            </button>
            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary MuiInputBase-adornedEnd css-my0gr0">
                <input id="basic-input" placeholder="Search" type="text" class="MuiInputBase-input MuiInput-input MuiInputBase-inputAdornedEnd css-1bj7i46" value="">
                <div class="MuiInputAdornment-root MuiInputAdornment-positionEnd css-1ldksmw">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="SearchIcon">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </header>
    <div class="sc-hIqOWS eHqDnR">
        <div class="sc-kgKVFY bjPfTP">
            <div class="sc-beqWaB iPedkf rdt_Table" role="table">
                <div class="sc-gueYoa choFig rdt_TableHead" role="rowgroup">
                    <div class="sc-dmqHEX kESOuL rdt_TableHeadRow" role="row">
                        <div class="sc-hLseeU sc-fbJfA fXowpf gHCNWE rdt_TableCol">
                            <div>Sr. No.</div>
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-title" role="columnheader" tabindex="0" class="sc-csCMJt fPgdJu rdt_TableCol_Sortable">
                                <div>Days</div>
                                <span class="sc-kFuwaP iIpSDL">▲</span>
                            </div>
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-description" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                <div>Open Time</div>
                                <span class="sc-kFuwaP czbDoG">▲</span>
                            </div>
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-category.category" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                <div>Close Time</div>
                                <span class="sc-kFuwaP czbDoG">▲</span>
                            </div>
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-undefined" role="columnheader" tabindex="0" class="sc-csCMJt jBjLhq rdt_TableCol_Sortable">
                                <div>Status</div>
                            </div>
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-undefined" role="columnheader" tabindex="0" class="sc-csCMJt jBjLhq rdt_TableCol_Sortable">
                                <div>Action</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div offset="250px" class="sc-dKfzgJ gupTcW rdt_TableBody" role="rowgroup">
                    @{
                        var count = 1;
                        foreach (var timing in Model.Timings)
                        {
                            <div id="row-0" role="row" class="sc-jsMahE cOWmgG rdt_TableRow">
                                <div class="sc-hLseeU sc-gLDzan UVHqw gNRcrj rdt_TableCell">
                                    <div>@count</div>
                                </div>
                                <div id="cell-BOXBEbkKl-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA gmufnB rdt_TableCell">
                                    <div data-tag="allowRowEvents">@timing.Day</div>
                                </div>
                                <div id="cell-7ot6Mb5X9e-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">@timing.OpenTiming</div>
                                <div id="cell-xULMCIatar-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">@timing.CloseTiming</div>
                                <div id="cell-hy1cR9X-VL-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">@timing.Status</div>
                                <div id="cell-ccoNMR5DF--undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">
                                    <div>
                                        <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk" tabindex="0" type="button" aria-label="more" id="long-button" aria-haspopup="true">
                                            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-1k33q06" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="MoreVertIcon">
                                                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                            </svg>
                                            <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                        </button>
                                        <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 css-v7lqox"></div>
                                    </div>
                                </div>
                            </div>
                            count++;
                        }                        
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        <nav class="sc-lnAgIa gOyacv rdt_Pagination">
            <span class="sc-eACynP sc-kMrHXl jiTDyT eGcJkK">Rows per page:</span>
            <div class="sc-cyRfQX kfTAbl">
                <select aria-label="Rows per page:" class="sc-ivnCJf JuKJx">
                    <option value="10" selected="">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M7 10l5 5 5-5z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
            <span class="sc-eACynP sc-bZPPFW jiTDyT ipBkJZ">1-3 of 3</span>
            <div class="sc-gjTGSA cVcbVU">
                <button id="pagination-first-page" type="button" aria-label="First Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK"></button>
                <button id="pagination-previous-page" type="button" aria-label="Previous Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </button>
                <button id="pagination-next-page" type="button" aria-label="Next Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </button>
                <button id="pagination-last-page" type="button" aria-label="Last Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK"></button>
            </div>
        </nav>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Attach a submit event handler to the form
        $("#saveTimingForm").click(function () {
            var restaurantId = $(this).data("id");
            // Prevent the default form submission
            //event.preventDefault();

            // Serialize the form data into a format that can be sent via AJAX
            var formData = $("#addTimingForm").serialize();
            formData += "&RestaurantId=" + restaurantId;

            // Perform the AJAX request
            $.ajax({
                type: "POST", // or "GET" depending on your server-side handling
                url: "/Timings/AddTiming", // Replace with your server endpoint
                data: formData,
                success: function (response) {
                    // Handle the success response here
                    alert("Timing created successfully!");
                    location.reload(true);
                },
                error: function () {
                    // Handle any errors here
                    alert("Timing not created!");
                }
            });
        });
    });
</script>
@*<h1>AddTiming</h1>

<h4>RestaurantViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTiming">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <input asp-for="VendorId" class="form-control" />
                <span asp-validation-for="VendorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label"></label>
                <input asp-for="RestaurantId" class="form-control" />
                <span asp-validation-for="RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label"></label>
                <input asp-for="RestaurantName" class="form-control" />
                <span asp-validation-for="RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTime" class="control-label"></label>
                <input asp-for="DeliveryTime" class="form-control" />
                <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumOrder" class="control-label"></label>
                <input asp-for="MinimumOrder" class="form-control" />
                <span asp-validation-for="MinimumOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderPrifix" class="control-label"></label>
                <input asp-for="OrderPrifix" class="form-control" />
                <span asp-validation-for="OrderPrifix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesTax" class="control-label"></label>
                <input asp-for="SalesTax" class="form-control" />
                <span asp-validation-for="SalesTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available" class="control-label"></label>
                <input asp-for="Available" class="form-control" />
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorEmail" class="control-label"></label>
                <input asp-for="VendorEmail" class="form-control" />
                <span asp-validation-for="VendorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

