@model IEnumerable<FoodOrderingAdminDashboard.Models.RiderViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="MuiContainer-root MuiContainer-maxWidthLg jss16 css-1qsxih2">
    <div class="MuiGrid-root MuiGrid-container css-1d3bbye">
        <div class="MuiGrid-root MuiGrid-item css-4nyfv0">
            <div class="jss100 MuiBox-root css-0">
                <div class="jss124 MuiBox-root css-0">
                    <div class="jss126 MuiBox-root css-0">
                        <h6 class="MuiTypography-root MuiTypography-h6 jss128 css-1bil0j5">Add Rider</h6>
                    </div>
                    <div class="MuiBox-root css-152myms"><label>Available</label><span class="MuiSwitch-root MuiSwitch-sizeMedium css-ecvcn9"><span class="MuiButtonBase-root MuiSwitch-switchBase MuiSwitch-colorPrimary PrivateSwitchBase-root MuiSwitch-switchBase MuiSwitch-colorPrimary Mui-checked css-96ule7" style="color: black;"><input class="PrivateSwitchBase-input MuiSwitch-input css-1m9pwf3" id="input-available" name="input-available" type="checkbox" value="true" checked=""><span class="MuiSwitch-thumb css-19gndve"></span><span class="MuiTouchRipple-root css-w0pj6f"></span></span><span class="MuiSwitch-track css-1ju1kxc"></span></span></div>
                </div>
                <div class="jss16 jss48 MuiBox-root css-0" lg="12">
                    <form id="riderForm">
                        <div class="jss17 MuiBox-root css-0">
                            <div class="MuiGrid-root MuiGrid-container css-1byog2s" style="max-width: 600px;">
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc" style="align-items: center;">
                                    <p class="MuiTypography-root MuiTypography-body1 jss131 css-5vqbp2">First Name</p>
                                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input id="input-first-name" name="input-first-name" placeholder="Rider first name" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc" style="align-items: center;">
                                    <p class="MuiTypography-root MuiTypography-body1 jss131 css-5vqbp2">Last Name</p>
                                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input id="input-last-name" name="input-last-name" placeholder="Rider last name" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                                    <p class="MuiTypography-root MuiTypography-body1 jss131 css-5vqbp2">User Name</p>
                                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input id="input-username" name="input-userName" placeholder="Username" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                                    <p class="MuiTypography-root MuiTypography-body1 jss131 css-5vqbp2">Address</p>
                                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input id="input-address" name="input-address" placeholder="Address" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                                    <p class="MuiTypography-root MuiTypography-body1 jss131 css-5vqbp2">City</p>
                                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input id="input-city" name="input-city" placeholder="City" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                                    <p class="MuiTypography-root MuiTypography-body1 jss131 css-5vqbp2">Country</p>
                                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input id="input-country" name="input-country" placeholder="Country" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                                    <p class="MuiTypography-root MuiTypography-body1 jss131 css-5vqbp2">Postal Code</p>
                                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input id="input-postalCode" name="input-postalCode" placeholder="Postal Code" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                                    <p class="MuiTypography-root MuiTypography-body1 jss131 css-5vqbp2">Password</p>
                                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input id="input-password" name="input-password" placeholder="Password" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                </div>
                                <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                                    <p class="MuiTypography-root MuiTypography-body1 jss131 css-5vqbp2">Number</p>
                                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input id="input-phone" name="input-phone" placeholder="Phone Number" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="jss17 MuiBox-root css-0">
                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary jss18 css-x2vnxs">
                                <div tabindex="0" role="button" aria-expanded="false" aria-haspopup="listbox" aria-label="Without label" aria-labelledby="rider-zone input-zone" id="input-zone" class="MuiSelect-select MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input css-1j81zvt">Rider Zone</div>
                                <input name="input-zone" aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput css-1k3x8v3" value="">
                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowDropDownIcon">
                                    <path d="M7 10l5 5 5-5z"></path>
                                </svg>
                                <fieldset aria-hidden="true" class="MuiOutlinedInput-notchedOutline css-igs3ac">
                                    <legend class="css-ihdtdm"><span class="notranslate">​</span></legend>
                                </fieldset>
                            </div>
                        </div>
                        <div class="MuiBox-root css-0"><button class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium jss21 css-grj8dm" tabindex="0" type="button">SAVE<span class="MuiTouchRipple-root css-w0pj6f"></span></button></div>
                    </form>
                    @{
                        var SuccessMessage = TempData["successMessage"]?.ToString();
                    }
                    <div class="MuiBox-root css-1yuhvjn">@SuccessMessage</div>
                </div>
            </div>
        </div>
        <div class="MuiGrid-root MuiGrid-item css-1jaksy">
            <img src="~/img/icons/rider.svg" />
        </div>
    </div>
    <div class="MuiContainer-root MuiContainer-maxWidthLg css-1qsxih2" classnname="jss16">
        <div class="sc-fmSAUk exMnZG rdt_TableHeader" role="heading" aria-level="1">
            <div class="sc-fGFwAa khejKv">
                <h4 style="font-weight: bold; margin-top: 15px;">Riders</h4>
            </div>
            <div class="sc-blLsxD koXrXC"></div>
            <div class="sc-hAtEyd eoNOiB">
                <div class="sc-brKeYL jxdWww"></div>
                <div class="sc-ktEKTO bAPOXo"></div>
            </div>
        </div>
        <header class="sc-ieZDjg iWJPSX">
            <div class="jss43 MuiBox-root css-0">
                <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk" tabindex="0" type="button">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1t20kk0" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="RefreshIcon">
                        <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"></path>
                    </svg>
                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                </button>
                <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary MuiInputBase-adornedEnd css-my0gr0">
                    <input id="basic-input" placeholder="Search" type="text" class="MuiInputBase-input MuiInput-input MuiInputBase-inputAdornedEnd css-1bj7i46" value="">
                    <div class="MuiInputAdornment-root MuiInputAdornment-positionEnd css-1ldksmw">
                        <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="SearchIcon">
                            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </header>
        <div class="sc-hIqOWS eHqDnR">
            <div class="sc-kgKVFY bjPfTP">
                <div class="sc-beqWaB iPedkf rdt_Table" role="table">
                    <div class="sc-gueYoa choFig rdt_TableHead" role="rowgroup">
                        <div class="sc-dmqHEX kESOuL rdt_TableHeadRow" role="row">
                            <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol vendor_Srno">
                                <div id="column-name" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                    <div>Sr. No.</div>
                                    <span class="sc-kFuwaP czbDoG">▲</span>
                                </div>
                            </div>
                            <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol vendor_email">
                                <div id="column-email" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                    <div>Name</div>
                                    <span class="sc-kFuwaP czbDoG">▲</span>
                                </div>
                            </div>
                            <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol vendor_email">
                                <div id="column-email" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                    <div>Username</div>
                                    <span class="sc-kFuwaP czbDoG">▲</span>
                                </div>
                            </div>
                            <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol vendor_email">
                                <div id="column-email" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                    <div>Password</div>
                                    <span class="sc-kFuwaP czbDoG">▲</span>
                                </div>
                            </div>
                            <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol vendor_restaurent">
                                <div id="column-phone" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                    <div>Phone</div>
                                    <span class="sc-kFuwaP czbDoG">▲</span>
                                </div>
                            </div>
                            <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol vendor_restaurent">
                                <div id="column-phone" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                    <div>Zone</div>
                                    <span class="sc-kFuwaP czbDoG">▲</span>
                                </div>
                            </div>
                            <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol vendor_restaurent">
                                <div id="column-phone" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                    <div>Available</div>
                                    <span class="sc-kFuwaP czbDoG">▲</span>
                                </div>
                            </div>
                            <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol vendor_action">
                                <div id="column-phone" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                    <div>Action</div>
                                    <span class="sc-kFuwaP czbDoG">▲</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<p>
                    <a asp-action="Create">Create New</a>
                    </p>*@
                    <div offset="250px" class="sc-dKfzgJ gupTcW rdt_TableBody" role="rowgroup">
                        @{
                            int count = 1; // Initialize the counter variable
                        }
                        @foreach (var item in Model)
                        {
                            <div id="row-0" role="row" class="sc-jsMahE cOWmgG rdt_TableRow">
                                <div class="sc-hLseeU sc-gLDzan UVHqw gNRcrj rdt_TableCell vendor_Srno">
                                    <div>@count</div>
                                </div>
                                <div id="cell-jpPGvtamY-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA gmufnB rdt_TableCell">
                                    <div data-tag="allowRowEvents">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</div>
                                </div>
                                <div id="cell-jpPGvtamY-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA gmufnB rdt_TableCell">
                                    <div data-tag="allowRowEvents">@Html.DisplayFor(modelItem => item.EmailId)</div>
                                </div>
                                <div id="cell-jpPGvtamY-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA gmufnB rdt_TableCell">
                                    <div data-tag="allowRowEvents">@Html.DisplayFor(modelItem => item.Password)</div>
                                </div>
                                <div id="cell-jpPGvtamY-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA gmufnB rdt_TableCell">
                                    <div data-tag="allowRowEvents">@Html.DisplayFor(modelItem => item.PhoneNumber)</div>
                                </div>
                                <div id="cell-jpPGvtamY-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA gmufnB rdt_TableCell">
                                    <div data-tag="allowRowEvents">@Html.DisplayFor(modelItem => item.City)</div>
                                </div>
                                <div id="cell-oc-8gNV7Zj-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">
                                    <span class="MuiSwitch-root MuiSwitch-sizeSmall css-vd1cxy">
                                        <span class="MuiButtonBase-root MuiSwitch-switchBase MuiSwitch-colorPrimary PrivateSwitchBase-root MuiSwitch-switchBase MuiSwitch-colorPrimary css-96ule7" style="color: black;">
                                            <input class="PrivateSwitchBase-input MuiSwitch-input css-1m9pwf3" type="checkbox">
                                            <span class="MuiSwitch-thumb css-19gndve"></span>
                                            <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                        </span><span class="MuiSwitch-track css-1ju1kxc"></span>
                                    </span>
                                </div>
                                <div id="cell-2dg6Aoufvw-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">
                                    <div>
                                        <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk" tabindex="0" type="button" aria-label="more" id="long-button" aria-haspopup="true">
                                            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-1k33q06" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="MoreVertIcon">
                                                <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                            </svg>
                                            <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                        </button>
                                        <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 css-v7lqox"></div>
                                    </div>
                                </div>
                            </div>
                            count++;
                        }
                    </div>
                </div>
            </div>
        </div>
        <div>
            <nav class="sc-lnAgIa gOyacv rdt_Pagination">
                <span class="sc-eACynP sc-kMrHXl jiTDyT eGcJkK">Rows per page:</span>
                <div class="sc-cyRfQX kfTAbl">
                    <select aria-label="Rows per page:" class="sc-ivnCJf JuKJx">
                        <option value="10" selected="">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M7 10l5 5 5-5z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </div>
                <span class="sc-eACynP sc-bZPPFW jiTDyT ipBkJZ">1-10 of 109</span>
                <div class="sc-gjTGSA cVcbVU">
                    <button id="pagination-first-page" type="button" aria-label="First Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK"></button>
                    <button id="pagination-previous-page" type="button" aria-label="Previous Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </button>
                    <button id="pagination-next-page" type="button" aria-label="Next Page" aria-disabled="false" class="sc-iKGpAt ehekCK">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </button>
                    <button id="pagination-last-page" type="button" aria-label="Last Page" aria-disabled="false" class="sc-iKGpAt ehekCK"></button>
                </div>
            </nav>
        </div>
    </div>
</div>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RiderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RiderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
