@using Newtonsoft.Json;
@using System.Net.Http.Headers;
@model FoodOrderingAdminDashboard.Models.RestaurantViewModel

@{
    ViewData["Title"] = "AddFood";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}
<div class="MuiContainer-root MuiContainer-maxWidthLg food16 css-1food2">
    <div class="food34 food35 MuiBox-root css-0">
        <div class="food33 MuiBox-root css-0">
            <div class="food37 MuiBox-root css-0">
                <h6 class="MuiTypography-root MuiTypography-h6 food40 css-1food5">Add Food</h6>
            </div>
        </div>
        <div class="food41 MuiBox-root css-0">
            <form id="addFoodDataForm">
                <div class="MuiBox-root css-0">
                    <p class="MuiTypography-root MuiTypography-body1 food42 css-5food2">Title</p>
                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary food18 css-1k01food" style="margin-top: -1px;">
                        <input id="input-title" name="Title" placeholder="Title" type="text" class="MuiInputBase-input MuiInput-input css-1food46" value="">
                    </div>
                    <p class="MuiTypography-root MuiTypography-body1 food42 css-5food2">Description</p>
                    <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary MuiInputBase-multiline food18 css-oamcfood" style="margin-top: -1px;">
                        <textarea id="input-description" name="Description" placeholder="Description" class="MuiInputBase-input MuiInput-input MuiInputBase-inputMultiline css-6bt6pofood" style="height: 22px; overflow: hidden;"></textarea>
                        <textarea aria-hidden="true" class="MuiInputBase-input MuiInput-input MuiInputBase-inputMultiline css-6bt6pofood" readonly="" tabindex="-1" style="visibility: hidden; position: absolute; overflow: hidden; height: 0px; top: 0px; left: 0px; transform: translateZ(0px); padding: 0px; width: 368.612px;"></textarea>
                    </div>
                    <div class="food17 MuiBox-root css-0">
                        <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary food19 food18 css-x2food">
                            <select name="Food Category" id="foodCategory">
                                <option value="">Select Category</option>
                                @{                                    
                                    foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.CategoryName">@category.CategoryName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="food16 MuiBox-root css-178yklu" style="align-items: center;">
                        <img id="file-upload-preview" class="jss82" alt="Restaurant Image" src="">
                        <label for="file-upload" class="file-upload jss84">Upload an image</label>
                        <input asp-for="RestaurentImage" class="jss83" id="file-upload" name="RestaurentImage" type="file">
                    </div>
                    <div class="food34 MuiBox-root css-0">
                        <div class="food33 MuiBox-root css-0">
                            <div class="food37 MuiBox-root css-0"><span class="MuiTypography-root MuiTypography-p food40 css-1uk1gs8">Variations</span></div>
                        </div>
                        <div class="MuiBox-root css-0" classes="food41">
                            <div class="MuiBox-root css-mro3c9">
                                <div class="food17 MuiBox-root css-0">
                                    <div class="MuiGrid-root MuiGrid-container css-1d3food">
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybycfood">
                                            <div class="MuiBox-root css-1yuhvjnfood">
                                                <p class="MuiTypography-root MuiTypography-body1 food42 css-5food2">Title (must be unique)</p>
                                                <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01food" style="margin-top: -1px;">
                                                    <input id="input-type-variationsTitle" name="VariationsTitle" placeholder="Title" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybycfood">
                                            <div class="MuiBox-root css-1yuhvjnfood">
                                                <p class="MuiTypography-root MuiTypography-body1 food42 css-5food2">Price</p>
                                                <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary food18 css-1k01food" style="margin-top: -1px;">
                                                    <input id="input-type-price" name="Price" placeholder="Price" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value=""></div>
                                            </div>
                                        </div>
                                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybycfood">
                                            <div class="MuiBox-root css-1yuhvjnfood">
                                                <p class="MuiTypography-root MuiTypography-body1 food42 css-5food2">Discounted</p>
                                                <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary food18 css-1k01food" style="margin-top: -1px;">
                                                    <input id="input-type-discounted" name="Discount" placeholder="Discounted" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="MuiBox-root css-0">
                                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="RemoveIcon" style="background-color: rgb(0, 0, 0); color: rgb(144, 234, 147); border-radius: 50%; margin-top: 12px; margin-right: 10px;">
                                        <path d="M19 13H5v-2h14v2z"></path>
                                    </svg>
                                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="AddIcon" style="background-color: rgb(144, 234, 147); color: rgb(0, 0, 0); border-radius: 50%; margin-top: 12px;">
                                        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                                    </svg>
                                </div>
                                <div class="MuiBox-root css-0">
                                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 css-1wxaqej" style="text-align: left; padding-left: 20px;">
                                        <label class="MuiFormControlLabel-root MuiFormControlLabel-labelPlacementEnd css-vl41wx">
                                            <span class="MuiButtonBase-root MuiCheckbox-root MuiCheckbox-colorPrimary PrivateSwitchBase-root MuiCheckbox-root MuiCheckbox-colorPrimary MuiCheckbox-root MuiCheckbox-colorPrimary css-13qx86b">
                                                <input class="PrivateSwitchBase-input css-1m9pwf3" type="checkbox" data-indeterminate="false" value="5fda4075b651daa22b242a36">
                                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CheckBoxOutlineBlankIcon">
                                                    <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path>
                                                </svg>
                                                <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                            </span>
                                            <span class="MuiTypography-root MuiTypography-body1 MuiFormControlLabel-label css-5vqbp2">Default Addon (Description: Default Addon Description)(Min: 1)(Max: 1)</span>
                                        </label>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 css-1wxaqej" style="text-align: left; padding-left: 20px;">
                                        <label class="MuiFormControlLabel-root MuiFormControlLabel-labelPlacementEnd css-vl41wx">
                                            <span class="MuiButtonBase-root MuiCheckbox-root MuiCheckbox-colorPrimary PrivateSwitchBase-root MuiCheckbox-root MuiCheckbox-colorPrimary MuiCheckbox-root MuiCheckbox-colorPrimary css-13qx86b">
                                                <input class="PrivateSwitchBase-input css-1m9pwf3" type="checkbox" data-indeterminate="false" value="6516f5a23ed57910016f190e">
                                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CheckBoxOutlineBlankIcon">
                                                    <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path>
                                                </svg>
                                                <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                            </span>
                                            <span class="MuiTypography-root MuiTypography-body1 MuiFormControlLabel-label css-5vqbp2">kroke (Description: ffffffffffffffffff)(Min: 1)(Max: 6)</span>
                                        </label>
                                    </div>
                                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 css-1wxaqej" style="text-align: left; padding-left: 20px;">
                                        <label class="MuiFormControlLabel-root MuiFormControlLabel-labelPlacementEnd css-vl41wx">
                                            <span class="MuiButtonBase-root MuiCheckbox-root MuiCheckbox-colorPrimary PrivateSwitchBase-root MuiCheckbox-root MuiCheckbox-colorPrimary MuiCheckbox-root MuiCheckbox-colorPrimary css-13qx86b">
                                                <input class="PrivateSwitchBase-input css-1m9pwf3" type="checkbox" data-indeterminate="false" value="651a6f123ed57910017a5ec9">
                                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CheckBoxOutlineBlankIcon">
                                                    <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path>
                                                </svg>
                                                <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                            </span>
                                            <span class="MuiTypography-root MuiTypography-body1 MuiFormControlLabel-label css-5vqbp2">Chinese (Description: )(Min: 0)(Max: 5)</span>
                                        </label>
                                    </div>
                                </div>
                                <button class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium food46 css-grj8dm" tabindex="0" type="button">New Addon<span class="MuiTouchRipple-root css-w0pj6f"></span></button>
                            *@</div>
                        </div>
                    </div>
                </div>
                <div class="MuiBox-root css-0"><button id="addFoodDataFormButton" data-id="@Model.RestaurantId" class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium jss21 css-grj8dm" tabindex="0" type="button">SAVE<span class="MuiTouchRipple-root css-w0pj6f"></span></button></div>
                <div class="MuiBox-root css-1yuhvjn"></div>
            </form>
        </div>
    </div>
    <div class="sc-fmSAUk exMnZGFood rdt_TableHeader" role="heading" aria-level="1">
        <div class="sc-fGFwAa khejKv">
            <h4 style="font-weight: bold; margin-top: 15px;">Food</h4>
        </div>
        <div class="sc-blLsxD koXrXC"></div>
        <div class="sc-hAtEyd eoNOiB">
            <div class="sc-brKeYL jxdWww"></div>
            <div class="sc-ktEKTO bAPOXo"></div>
        </div>
    </div>
    <header class="sc-ieZDjg iWJPSXFood">
        <div class="jssfood62 MuiBox-root css-0">
            <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk" tabindex="0" type="button">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1t20kk0" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="RefreshIcon">
                    <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"></path>
                </svg>
                <span class="MuiTouchRipple-root css-w0pj6f"></span>
            </button>
            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary MuiInputBase-adornedEnd css-my0gr0">
                <input id="basic-input" placeholder="Search" type="text" class="MuiInputBase-input MuiInput-input MuiInputBase-inputAdornedEnd css-1bj7i46" value="">
                <div class="MuiInputAdornment-root MuiInputAdornment-positionEnd css-1ldksmw">
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="SearchIcon">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </header>
    <div class="sc-hIqOWS eHqDnR">
        <div class="sc-kgKVFY bjPfTP">
            <div class="sc-beqWaB iPedkf rdt_Table" role="table">
                <div class="sc-gueYoa choFig rdt_TableHead" role="rowgroup">
                    <div class="sc-dmqHEX kESOuL rdt_TableHeadRow" role="row">
                        <div class="sc-hLseeU sc-fbJfA fXowpf gHCNWE rdt_TableCol">
                            <div>Sr. No.</div>    
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-title" role="columnheader" tabindex="0" class="sc-csCMJt fPgdJu rdt_TableCol_Sortable">
                                <div>Title</div>
                                <span class="sc-kFuwaP iIpSDL">▲</span>
                            </div>
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-description" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                <div>Description</div>
                                <span class="sc-kFuwaP czbDoG">▲</span>
                            </div>
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-category.category" role="columnheader" tabindex="0" class="sc-csCMJt iGmFHr rdt_TableCol_Sortable">
                                <div>Category</div>
                                <span class="sc-kFuwaP czbDoG">▲</span>
                            </div>
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-undefined" role="columnheader" tabindex="0" class="sc-csCMJt jBjLhq rdt_TableCol_Sortable">
                                <div>Image</div>
                            </div>
                        </div>
                        <div class="sc-hLseeU sc-eDDNvR sc-irTswW ejOucI huUFBA iLbjdE rdt_TableCol">
                            <div id="column-undefined" role="columnheader" tabindex="0" class="sc-csCMJt jBjLhq rdt_TableCol_Sortable">
                                <div>Action</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div offset="250px" class="sc-dKfzgJ gupTcW rdt_TableBody" role="rowgroup">
                    @{
                        var count = 1;
                        foreach(var food in Model.Foods)
                        {
                        <div id="row-0" role="row" class="sc-jsMahE cOWmgG rdt_TableRow">
                            <div class="sc-hLseeU sc-gLDzan UVHqw gNRcrj rdt_TableCell">
                                <div>@count</div>
                            </div>
                            <div id="cell-BOXBEbkKl-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA gmufnB rdt_TableCell">
                                <div data-tag="allowRowEvents">@food.Title</div>
                            </div>
                            <div id="cell-7ot6Mb5X9e-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">@food.Description</div>
                            <div id="cell-xULMCIatar-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">@food.Category</div>
                            <div id="cell-hy1cR9X-VL-undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">
                                    <img class="img-responsive" src="~/images/@food.Image" alt="img menu" style="width: 30px; height: 30px; border-radius: 15px;">
                                </div>
                            <div id="cell-ccoNMR5DF--undefined" role="gridcell" data-tag="allowRowEvents" class="sc-hLseeU sc-eDDNvR sc-jTrPJq hZkQgf huUFBA fwAyQy rdt_TableCell">
                                <div>
                                    <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk" tabindex="0" type="button" aria-label="more" id="long-button" aria-haspopup="true">
                                        <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall css-1k33q06" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="MoreVertIcon">
                                            <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                        </svg>
                                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                    </button>
                                    <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 css-v7lqox"></div>
                                </div>
                            </div>
                            </div>
                            count++;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        <nav class="sc-lnAgIa gOyacv rdt_Pagination">
            <span class="sc-eACynP sc-kMrHXl jiTDyT eGcJkK">Rows per page:</span>
            <div class="sc-cyRfQX kfTAbl">
                <select aria-label="Rows per page:" class="sc-ivnCJf JuKJx">
                    <option value="10" selected="">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M7 10l5 5 5-5z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
            <span class="sc-eACynP sc-bZPPFW jiTDyT ipBkJZ">1-3 of 3</span>
            <div class="sc-gjTGSA cVcbVU">
                <button id="pagination-first-page" type="button" aria-label="First Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK"></button>
                <button id="pagination-previous-page" type="button" aria-label="Previous Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </button>
                <button id="pagination-next-page" type="button" aria-label="Next Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </button>
                <button id="pagination-last-page" type="button" aria-label="Last Page" aria-disabled="true" disabled="" class="sc-iKGpAt ehekCK"></button>
            </div>
        </nav>
    </div>
</div>
<script>
    var imageURL = "";
    document.addEventListener('DOMContentLoaded', function () {
        // Get references to the input and image elements
        var fileInput = document.getElementById('file-upload');
        var previewImage = document.getElementById('file-upload-preview');

        // Add an event listener to the file input element
        fileInput.addEventListener('change', function (event) {
            // Check if a file was selected
            if (fileInput.files && fileInput.files[0]) {
                // Create a URL for the selected file and set it as the image source
                previewImage.src = window.URL.createObjectURL(fileInput.files[0]);
                console.log(fileInput.files[0])
                imageURL = fileInput.files[0];
            } else {
                // Clear the image source if no file is selected or if the selection is cleared
                previewImage.src = '';
            }
        });
    });
    $(document).ready(function () {
        $("#file-upload").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".file-upload").addClass("selected").html(fileName);
        });
        var foodCategory = "";
        $("#foodCategory").change(function () {
            foodCategory = $(this).val();
        });
        $("#addFoodDataFormButton").click(function () {
            var restaurantId = $(this).data("id");
            var variationsTitle = $("#input-type-variationsTitle").val();
            var price = $("#input-type-price").val();
            var discount = $("#input-type-discounted").val();
            var formData = new FormData($("#addFoodDataForm")[0]);
            formData.append("RestaurantId", restaurantId);
            formData.append("FoodImage", imageURL);
            formData.append("Category", foodCategory);
            formData.append("VariationsTitle", variationsTitle);
            formData.append("Price", price);
            formData.append("Discount", discount);
            $.ajax({
                url: "/Foods/AddFood", // Replace with your controller and action names
                type: "POST",
                data: formData,
                processData: false, // Prevent jQuery from processing the data
                contentType: false, // Set content type to false
                success: function (response) {
                    // Handle the success response here
                    alert("Food add successfully!");
                    location.reload(true);
                },
                error: function () {
                    // Handle any errors here
                    console.log("Food not add!");
                }
            });
        });
    });
</script>

