@model FoodOrderingAdminDashboard.Models.RestaurantViewModel

@{
    ViewData["Title"] = "RestaurantProfile";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}
<div class="MuiContainer-root MuiContainer-maxWidthLg jss16 css-1qsxih2">
    <div class="jss57 MuiBox-root css-0">
        <div class="jss56 MuiBox-root css-0" style="align-items: start;">
            <div class="jss59 MuiBox-root css-0">
                <h6 class="MuiTypography-root MuiTypography-h6 jss61 css-1bil0j5">Update Profile</h6>
            </div>
        </div>
        <div class="jss62 MuiBox-root css-0">
            <form id="restaurantProfileUpdateForm">
                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 css-isbt42">
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Restaurant's user name</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-username" name="EmailId" placeholder="Restaurant's username" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.EmailId">
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Password</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-password" name="Password" placeholder="Restaurant's password" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 css-isbt42">
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Name</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-name" name="RestaurantName" placeholder="Restaurant's name" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.RestaurantName">
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Phone</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-phone" name="PhoneNumber" placeholder="Phone" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.PhoneNumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 css-isbt42">
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Address</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-address" name="Address" placeholder="Restaurant's address" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.Address">
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">City</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-city" name="City" placeholder="Restaurant's city" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.City">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 css-isbt42">
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Country</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-country" name="Country" placeholder="Restaurant's country" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.Country">
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Postal Code</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-delivery-postalcode" name="PostalCode" placeholder="PostalCode" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.PostalCode">
                            </div>
                        </div>
                    </div>                                        
                </div>
                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 css-isbt42">
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Delivery Time</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-delivery-time" name="DeliveryTime" placeholder="Delivery Time" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.DeliveryTime">
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Minimum Order</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-minimum-order" name="MinimumOrder" placeholder="Minimum order" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.MinimumOrder">
                            </div>
                        </div>
                    </div>                                        
                </div>
                <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 css-isbt42">   
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Sales tax</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-sales-tax" name="SalesTax" placeholder="Sales tax" type="number" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.SalesTax">
                            </div>
                        </div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 css-rpybyc">
                        <div class="MuiBox-root css-0">
                            <p class="MuiTypography-root MuiTypography-body1 jss63 css-5vqbp2">Order Prefix</p>
                            <div class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;">
                                <input id="input-type-order_id_prefix" name="OrderPrifix" placeholder="Order Prefix" type="text" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="@Model.OrderPrifix">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jss16 MuiBox-root css-178yklu" style="align-items: center;">
                    <img id="file-upload-preview" class="jss82" alt="Restaurant Image" src="~/images/@Model.Image">
                    <label for="file-upload" class="file-upload jss84">Upload an image</label>
                    <input asp-for="RestaurentImage" class="jss83" id="file-upload" name="RestaurentImage" type="file">
                </div>
                @*<div class="jss16 MuiBox-root css-178yklu" style="align-items: center;">
                    <img id="file-upload-preview" class="jss64" alt="Restaurant Image" src="~/images/@Model.Image">
                    <label for="file-upload" class="jss66">Upload an image</label>
                    <input class="jss65" id="file-upload" name="RestaurentImage" type="file">
                </div>*@
                <div class="MuiBox-root css-0">
                    <button data-id="@Model.RestaurantId" id="restaurentPrfileUpdateFormButton" class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium jss21 css-grj8dm" tabindex="0" type="button">
                        SAVE
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </button>
                </div>
            </form>
            <div class="MuiBox-root css-1yuhvjn"></div>
        </div>
    </div>
</div>
<script>
    //var imageSRC = $("#file-upload-preview").attr("src");
    var imageURL ="";
    //if(imageSRC != null && imageSRC != ""){
    //    imageURL = imageSRC;
    //}    
    document.addEventListener('DOMContentLoaded', function () {
        // Get references to the input and image elements
        var fileInput = document.getElementById('file-upload');
        var previewImage = document.getElementById('file-upload-preview');

        // Add an event listener to the file input element
        fileInput.addEventListener('change', function (event) {
            // Check if a file was selected
            if (fileInput.files && fileInput.files[0]) {
                // Create a URL for the selected file and set it as the image source
                previewImage.src = window.URL.createObjectURL(fileInput.files[0]);
                console.log(fileInput.files[0])
                imageURL = fileInput.files[0];
            } else {
                // Clear the image source if no file is selected or if the selection is cleared
                previewImage.src = '';
            }
        });
    });
    $(document).ready(function () {        
        $("#file-upload").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".file-upload").addClass("selected").html(fileName);
        });
        $("#restaurentPrfileUpdateFormButton").click(function () {
            var restaurantId = $(this).data("id");
            var formData = new FormData($("#restaurantProfileUpdateForm")[0]);
            //var formData = $("#restaurantProfileUpdateForm").serialize(); // Serialize the form data
            //formData += "&RestaurantId=" + restaurantId;
            //formData += "&RestaurentImage=" + imageURL;
            formData.append("RestaurantId", restaurantId);
            formData.append("RestaurentImage", imageURL);
            $.ajax({
                url: "/Dashboard/RestaurantProfileUpdate", // Replace with your controller and action names
                type: "POST",
                data: formData,
                processData: false, // Prevent jQuery from processing the data
                contentType: false, // Set content type to false
                success: function (response) {
                    // Handle the success response here
                    alert("Restaurant profile updated successfully!");
                    location.reload(true);
                },
                error: function () {
                    // Handle any errors here
                    alert("Restaurant profile not updated!");
                }
            });
        });
    });
</script>

@*<h1>RestaurantProfile</h1>

<h4>RestaurantViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RestaurantProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <input asp-for="VendorId" class="form-control" />
                <span asp-validation-for="VendorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label"></label>
                <input asp-for="RestaurantId" class="form-control" />
                <span asp-validation-for="RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label"></label>
                <input asp-for="RestaurantName" class="form-control" />
                <span asp-validation-for="RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTime" class="control-label"></label>
                <input asp-for="DeliveryTime" class="form-control" />
                <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumOrder" class="control-label"></label>
                <input asp-for="MinimumOrder" class="form-control" />
                <span asp-validation-for="MinimumOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderPrifix" class="control-label"></label>
                <input asp-for="OrderPrifix" class="form-control" />
                <span asp-validation-for="OrderPrifix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesTax" class="control-label"></label>
                <input asp-for="SalesTax" class="form-control" />
                <span asp-validation-for="SalesTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available" class="control-label"></label>
                <input asp-for="Available" class="form-control" />
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorEmail" class="control-label"></label>
                <input asp-for="VendorEmail" class="form-control" />
                <span asp-validation-for="VendorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
*@
