@model FoodOrderingAdminDashboard.Models.RestaurantViewModel

@{
    ViewData["Title"] = "RestaurantDashboard";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}
<div class="MuiContainer-root MuiContainer-maxWidthLg jss16 css-1qsxih2">
    <div class="jss46 MuiBox-root css-0">
        <div class="jss45 MuiBox-root css-0">
            <div class="jss47 MuiBox-root css-0">
                <h6 class="MuiTypography-root MuiTypography-h6 jss52 css-1bil0j5">Graph Filter</h6>
            </div>
        </div>
        <div class="jss48 MuiBox-root css-0">
            <form>
                <div class="MuiGrid-root MuiGrid-container css-1ervroo">
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 css-iol86l">
                        <p class="MuiTypography-root MuiTypography-body1 css-ivab73">Start Date</p>
                        <div max="2023-10-02" class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input type="date" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="2023-09-25"></div>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 css-iol86l">
                        <p class="MuiTypography-root MuiTypography-body1 css-ivab73">End Date</p>
                        <div max="2023-10-02" class="MuiInputBase-root MuiInput-root MuiInputBase-colorPrimary jss18 css-1k01ise" style="margin-top: -1px;"><input type="date" class="MuiInputBase-input MuiInput-input css-1bj7i46" value="2023-10-02"></div>
                    </div>
                </div>
                <button class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium jss21 css-grj8dm" tabindex="0" type="button">Apply<span class="MuiTouchRipple-root css-w0pj6f"></span></button>
            </form>
        </div>
    </div>
</div>
<div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-2 css-md4tea">
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8 css-efwuvd">
        <div class="MuiBox-root css-4rat66"></div>
        <div class="MuiBox-root css-ppdmmu">
            <canvas role="img" height="500" width="992" style="display: block; box-sizing: border-box; height: 400px; width: 793.6px;"></canvas>
        </div>
        <div class="MuiBox-root css-1yz9zdn"></div>
    </div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 css-13aozs8">
        <div class="MuiBox-root css-e6469a">
            <p class="MuiTypography-root MuiTypography-body1 css-55sbus">Total Orders</p>
            <p class="MuiTypography-root MuiTypography-body1 css-1qnzcby">1</p>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAArCAYAAAD2f+EJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACySURBVHgB7ZfNDYAgDIWrcRHH8MJq4moedArjJuJfXvRgxFggxrzvQsKFL22hVESB6YfadIMz/ViLglw0OLH7OllRoJMIBCUAJQAlACXAPyXe9JPwkXjRT1gToLjaXPO6hTXLbVuVjUTgfMZ1JAL9E245ncGaAJQAjyVC/axVEjFvDGsCfEMiZsE9lkjyRHslPkASCV/K00TCk3JeUUAJQAlACUAJsHTRaZ+wnByTVuK9GcgNaMSx71XzAAAAAElFTkSuQmCC" width="30" height="40" alt="stat" style="margin-left: 40%;">
        </div>
        <div class="MuiBox-root css-ndnfgf">
            <p class="MuiTypography-root MuiTypography-body1 css-55sbus">Total Sales</p>
            <p class="MuiTypography-root MuiTypography-body1 css-1qnzcby">147.84</p>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAArCAYAAAD2f+EJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADBSURBVHgB7ZdNCsIwEIUH9Q6u3HgAD+Daezney4VuPIAHcOOqp2gb6IMS+pP+TBLK+2B4ECj9mExTspcF3C7X+/l4etUlv+L/lpnsZBnqZRKJVaAEoASgBKAE2KaE+5/UVboMfcaiE+plEonJZCFx6Fps9lNdPb+fhxjQfkdfJ9RLCxTJmQCUAMESc07C1SXE8IvhTIA8JCwHLlhC4hzRoxLJiSIxtuWxOqFeJpEYhBKAEoASgBIgGwncsNo3rahrFQ6KK5mTkXOOAAAAAElFTkSuQmCC" width="30" height="40" alt="stat" style="margin-left: 40%;">
        </div>
    </div>
</div>

@*<h1>RestaurantDashboard</h1>

<div>
    <h4>RestaurantViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPrifix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderPrifix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorEmail)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
