@model FoodOrderingAdminDashboard.Models.RestaurantViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantDashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodOrderingAdminDashboard.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <div id="root" style="background:linear-gradient(237.49deg,#eef4fa .63%,#dee6ed 85.49%);">
        <nav class="MuiBox-root css-1o5pq7n" aria-label="mailbox folders">
            <div class="MuiDrawer-root MuiDrawer-docked css-1guw907">
                <div class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation0 MuiDrawer-paper MuiDrawer-paperAnchorLeft MuiDrawer-paperAnchorDockedLeft css-395bb4">
                    <div class="jss4 MuiBox-root css-0">
                        <div class="MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular jss1 jss2 css-i6s8oy">
                            <img src="~/img/icons/mainicon.png" style="height: 60px;" />
                            <h2 class="MuiTypography-root MuiTypography-h2 jss11 jss12 css-1e7luvt">FOOD ORDERING</h2>
                        </div>
                        <div class="jss5 MuiBox-root css-0">
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone restaurant-name jss1 jss6 css-14mzf3e" href="#">
                                <img src="~/images/@Model.Image" style="border-radius: 7px;"/>
                                <h2 class="MuiTypography-root MuiTypography-h2 jss14 css-169o68d">@Model.RestaurantName</h2>
                            </a>                            
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="#">
                                <img src="~/img/icons/icons8-vendor-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Dashboard</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="/Dashboard/RestaurantProfile/@Model.RestaurantId">
                                <img src="~/img/icons/icons8-waitress-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Profile</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="/Foods/AddFood/@Model.RestaurantId">
                                <img src="~/img/icons/icons8-cutlery-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Food</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 jss7 css-14mzf3e" href="/Categories/AddCategory/@Model.RestaurantId">
                                <img src="~/img/icons/icons8-user-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss9 css-1bil0j5">Category</h6>
                            </a>                            
                            <h3 class="MuiTypography-root MuiTypography-h3 jss11 css-2li85t">MANAGEMENT</h3>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="/Orders/RestaurantOrders/@Model.RestaurantId">
                                <img src="~/img/icons/icons8-setting-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Orders</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="/Options/RestaurantOptions/@Model.RestaurantId">
                                <img src="~/img/icons/icons8-coupon-32.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Option</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="#">
                                <img src="~/img/icons/icons8-coupons-58.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Ratings</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="/Addons/RestaurantAddons/@Model.RestaurantId">
                                <img src="~/img/icons/icons8-map-30.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Addons</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="/Timings/AddTiming/@Model.RestaurantId">
                                <img src="~/img/icons/icons8-in-transit-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Timings</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="#">
                                <img src="~/img/icons/icons8-mail-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Payment</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="#">
                                <img src="~/img/icons/icons8-money-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Location</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="#">
                                <img src="~/img/icons/icons8-money-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Dispatch</h6>
                            </a>
                            <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss1 jss6 css-14mzf3e" href="/Home/Index">
                                <img src="~/img/icons/icons8-withdraw-money-50.png" />
                                <h6 class="MuiTypography-root MuiTypography-h6 jss10 jss8 css-1bil0j5">Back to Admin</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="MuiBox-root css-23gjyv">
        <div class="MuiBox-root css-1b3bey">
            <header class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation4 MuiAppBar-root MuiAppBar-colorPrimary MuiAppBar-positionStatic css-z16uab">
                <div class="MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular css-i6s8oy">
                    @{
                        var pageTitle = TempData["pageTitle"]?.ToString();
                    }
                    <div class="MuiTypography-root MuiTypography-subtitle1 css-1ywqvl3">@pageTitle</div>
                    <div>
                        <div id="profile-btn" class="MuiBox-root css-0" style="display: flex; flex-direction: row; justify-content: center; background-color: white; padding-right: 10px; border-radius: 40px; height: 40px; width: 90px;">
                            <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit MuiIconButton-sizeLarge css-1l1167e" tabindex="0" type="button" aria-label="account of current user" aria-controls="menu-appbar" aria-haspopup="true"><img alt="..." src="/static/media/team-4-800x800.23007132.jpg" style="height: 35px; width: 35px; border-radius: 50%; margin-left: -10px;"><span class="MuiTouchRipple-root css-w0pj6f"></span></button>
                            <p class="MuiTypography-root MuiTypography-body1 css-1i5whhw">Ninja</p>
                        </div>
                        <div id="logOut-btn" class="MuiBox-root css-0" style="display: none; flex-direction: row; justify-content: center; background-color: orangered;position: absolute; padding-right: 10px; border-radius: 40px; height: 40px; width: 90px;margin-top: 10px;">                                
                           <a class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit MuiIconButton-sizeLarge css-1l1167e logout-btn" tabindex="0" type="button" aria-label="account of current user" aria-controls="menu-appbar" aria-haspopup="true" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="MuiBox-root css-1kb728x"></div>
        <div class="container">
                <main role="main" class="pb-3">
                    @{
                        var errorMessage = TempData["errorMessage"]?.ToString();
                        var SuccessMessage = TempData["successMessage"]?.ToString();
                    }
                    @if (!string.IsNullOrWhiteSpace(SuccessMessage))
                    {
                        <div class="alert alert-success">
                            <b>Success : </b>@SuccessMessage
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    else if (!string.IsNullOrWhiteSpace(errorMessage))
                    {
                        <div class="alert alert-danger">
                            <b>Error : </b>@errorMessage
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @RenderBody()
                </main>
        </div>
        <footer>
            <div class="jss39 MuiBox-root css-1or5pnu">
                <div class="MuiBottomNavigation-root css-pj6n2i">
                    <p class="MuiTypography-root MuiTypography-body1 jss41 css-5vqbp2" value="0">&copy; 2023 - </p>
                        <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss40 css-14mzf3e" href="https://multivendor.ninjascode.com/" target="_blank" value="1">FoodOrderingAdminDashboard -</a>
                    <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss40 css-14mzf3e" href="https://ninjascode.com/pages/ourteam.html" target="_blank" value="2">About Us</a>
                    <a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone jss40 css-14mzf3e" href="" target="_blank" value="3">Blog</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FoodOrderingAdminDashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    @*<div class="container">
        <main role="main" class="pb-3">
            @{
                var errorMessage = TempData["errorMessage"]?.ToString();
                var SuccessMessage = TempData["successMessage"]?.ToString();
            }
            @if (!string.IsNullOrWhiteSpace(SuccessMessage))
            {
                <div class="alert alert-success">
                    <b>Success : </b>@SuccessMessage
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else if (!string.IsNullOrWhiteSpace(errorMessage))
            {
                <div class="alert alert-danger">
                    <b>Error : </b>@errorMessage
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @RenderBody()
        </main>
    </div>*@

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FoodOrderingAdminDashboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/js/custom.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    var profileButton = document.getElementById("profile-btn");
    var logoutButton = document.getElementById("logOut-btn");

    profileButton.addEventListener("click", function () {
        // Toggle the display property of the logout button
        if (logoutButton.style.display === "none") {
            logoutButton.style.display = "block";
        } else {
            logoutButton.style.display = "none";
        }
    });
</script>
